{
  "swagger": "2.0",
  "info": {
    "description": "Test Service for SoaJS",
    "version": "1.0.0",
    "title": "SOAJS Test Service",
    "termsOfService": "http://soajs.org/terms/",
    "contact": {
      "email": "fadi@soajs.org"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "soajs.org",
  "basePath": "/v2",
  "tags": [
    {
      "name": "test",
      "description": "Tests"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/testPost": {
      "post": {
        "tags": [
          "test"
        ],
        "summary": "Some Sum",
        "description": "",
        "operationId": "addTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "test object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/test"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/testPut": {
      "put": {
        "tags": [
          "test"
        ],
        "summary": "Some Sum",
        "description": "",
        "operationId": "updateTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "test object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/test"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/testGet": {
      "get": {
        "tags": [
          "test"
        ],
        "summary": "Some Sum",
        "description": "",
        "operationId": "getTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/testPatch": {
      "patch": {
        "tags": [
          "test"
        ],
        "summary": "Some Sum",
        "description": "",
        "operationId": "patchTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "test object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/test"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }

      }
    },
    "/testHead": {
      "head": {
        "tags": [
          "test"
        ],
        "summary": "Some Sum",
        "description": "",
        "operationId": "headTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }

      }
    },
    "/testDelete": {
      "delete": {
        "tags": [
          "test"
        ],
        "summary": "Some Sum",
        "description": "",
        "operationId": "deleteTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/testOther": {
      "options": {
        "tags": [
          "test"
        ],
        "summary": "Some Sum",
        "description": "",
        "operationId": "otherTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  }
}